<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Data</title>
</head>
<body>
    <h1>POST Data:</h1>
    <form action="http://localhost:5000/test" method="post">
      <label>
        Fruit:
        <input type="text" name="data" value={data} />
      </label>
      <button type="submit">Submit</button>
    </form>
</body>
</html>